header.curso_header {
    background-color: var(--bg-escuro);
    height: 8.5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header.curso_header nav.curso_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* width: 100%; */
    height: 100%;
    padding: 0 3.8rem;
}

div.curso_usuario span.curso_usuario-nome {
    color: var(--cor-secundaria);
    font-weight: 700;
    letter-spacing: 1.26px;
    margin-right: 8px;
}

i.curso_usuario-icone {
    font-size: 18px;
    color: var(--cor-secundaria);
}

aside.curso_menu-lateral {
    width: 162px;
    height: calc(100vh - 8.5vh);
    padding-left: 38px;
    background-color: var(--bg-escuro);
    position: fixed;
    top: 8.5vh;
    left: 0;
}

aside.curso_menu-lateral nav.curso_menu-lateral-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

nav.curso_menu-lateral-nav div.curso_menu-container-icone {
    display: flex;
    gap: 4px;
}

.curso_menu-links {
    color: var(--cor-secundaria);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.curso_menu-links:hover {
    color: var(--cor-terciaria);
}

.curso_menu-links.active {
    color: #00ffff;
}

i.rotate-logout {
    transform: rotate(180deg);
}


@media screen and (max-width: 767px) {
    div.menu-links .btn-header.login {
        display: none;
    }
}